.home {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 150px;
}
.home-blocks {
    display: inline-flex;
}
.home-blocks-separator {
    width: 20px;
}
.home-separator {
    flex-basis: 100%;
    height: 0;
  }
.home-grid {
    padding: 30px;
}